.schedule__form {
  opacity: 1;
}

.schedule__form__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 50px;
}

.schedule__form__body__indicator__text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.schedule__form__header__btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.schedule__form__header__btn {
  padding: 0.3rem 0.6rem;
}

.schedule__form__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 20px 0px 50px;
}

.schedule__form__body__select__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.schedule__form__footer {
  padding: 15px 20px 15px 50px;
}
