.more__button {
  position: absolute;
  top: -5px;
  right: 0;
}

.more__button[data-title]::after {
  content: attr(data-title);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 2px);
  padding: 3px;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--bgTheme-icon-color-primary);
  background: var(--bgTheme-icon-bgColor-primary);
  white-space: nowrap; /* 부모 너비보다 크게 */

  opacity: 0;
}

.more__button[data-title]:hover::after {
  opacity: 1;
  transition-delay: 0.1s;
}

.more__button:hover {
  color: var(--colorTheme-color-primary);
  background-color: var(--colorTheme-bgColor-hover-light);
}

.more__button:focus-visible {
  color: var(--colorTheme-color-primary);
  background-color: var(--colorTheme-bgColor-hover-light);
  outline: none;
}

.more__button[data-title]:focus-visible::after {
  opacity: 1;
  transition-delay: 0.1s;
}
