.search__advanced__modal {
  opacity: 1;
}

.header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.close__wrapper {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.close__icon {
  position: absolute;
  top: 0.7rem;
}

.search__button {
  padding: 0.3rem 1rem;
  font-weight: bold;
}

.body {
  padding: 0;
}

.heading {
  padding: 0.75rem 1rem;
}

.section {
  padding: 0 1rem;
}

.filter__container {
}
.filter__wrapper {
  border-bottom: 1px solid #f1f1f1;
}
.filter__toggle {
  margin: 0 1rem;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.filter__radio {
  margin: 0 1rem;
  padding: 0.75rem 0;
}
