.circular__progress__bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  line-height: 1.85rem;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

.text--invisible {
  color: transparent;
}

.text--warning {
  color: orange;
}

.text--error {
  color: red;
}

.svg {
  display: block;
}

.border {
  fill: none;
  stroke: #eee;
  stroke-width: 2;
  transform: rotate(-90deg);
  transform-origin: center;
}

.progress {
  fill: none;
  stroke: var(--colorTheme-color-primary);
  stroke-width: 2;
  transition: stroke 0.2s ease-in-out;
}

.progress--warning {
  stroke: orange;
}

.progress--error {
  stroke: red;
}

.progress--invisible {
  stroke: transparent;
}
