.screen__profile__image {
  display: flex;
  flex-direction: column;
  height: 35rem;
  overflow: hidden;
}

.screen__profile__image__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
