.screen__notifications {
  height: 430px;
  display: flex;
  flex-direction: column;
}

.screen__notifications__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.screen__notifications__body__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
