.screen__notifications {
  height: 35rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.screen__notifications__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.screen__notifications__body__main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
