.post__page__main {
  width: 100%;
}

.post {
  opacity: 1;
}

.actions {
  height: 3rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.margin {
  margin-top: 0.75rem;
}
