.text__editor__container {
  position: relative;
  padding: 0.25em;
}

.text__editor {
  white-space: pre-wrap;
  word-break: break-all;
}

.text__editor:focus {
  outline: none;
}

.line {
  width: 100%;
  padding: 0.125rem 0;
  color: var(--bgTheme-color-primary);
}

.segment {
  font-size: 1.25em;
  color: inherit;
}

.inline {
  color: var(--colorTheme-color-primary);
}

.placeholder {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding: 0.125rem 0;
  font-size: 1.25em;
  color: #536471;
  z-index: 1;
}
