.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar__wrapper {
}

.calendar__days {
  display: flex;
}

.calendar__dates {
  width: 100%;
}

.calendar__week {
  display: flex;
}

.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}


