.screen__userId {
  display: flex;
  flex-direction: column;
  height: 35rem;
  overflow: hidden;
}

.screen__userId__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.screen__userId__body__header {
  width: 100%;
}

.screen__userId__body__recommend {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
