.select__listbox__container {
  position: absolute;
  background-color: var(--bgTheme-bgColor-primary);
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  overflow: hidden;
}

.select__listbox {
  overflow: auto;
}
