.section {
  border-bottom: 1px solid #f1f1f1;
}

.item {
  padding: 0.75rem 1rem;
}

.error {
  padding: 0 0.5rem;
}

.change__password__button {
  width: 100%;
  display: flex;
  justify-content: end;
}

.change__password__section__explanation {
  font-size: 0.9rem;
  color: #919191;
}
