.emoji__preview {
  padding: 0.75em;
}

.emoji__preview__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emoji__preview__bigger__emoji {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigger__emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.emoji__preview__name {
  padding: 0 1rem;
  flex: 1;
  width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
