.account__button {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.account__button:hover {
  background-color: #ddd;
}

.account__button:focus {
  background-color: #ddd;
  outline: 2px solid var(--bgTheme-color-primary);
}

.account__button__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.account__dropdown::after {
  position: absolute;
  bottom: -19px;
  left: 20px;
  display: block;
  width: 0;
  height: 0;
  border-top: 14px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  content: "";
}

.account__dropdown__list {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.account__dropdown__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.account__dropdown__item--unselected {
  cursor: pointer;
}

.account__dropdown__item--unselected:hover {
  background-color: #f7f7f7;
}

.account__dropdown__section {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.account__dropdown__section__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
}
.account__dropdown__section__item:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}
