.more__option {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.more__option:hover {
  background-color: #f5f5f5;
}

.more__option:focus-visible {
  background-color: #f5f5f5;
}

.delete {
  color: red;
}
