.emoji__dropdown {
  z-index: 3;
}

.emoji__dropdown__container {
}

.emoji__search__wrapper {
}

.emoji__tabs__wrapper {
}

/* 스크롤 적용 가능하도록 변경 필요 */
.emoji__list__container {
  position: relative;
  max-height: 300px;
  overflow: auto;
}
.emoji__recent__wrapper {
}

.emoji__list__wrapper {
}
