.vote {
  border: 1px solid #ccc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.vote__options {
  padding: 0.75em;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.vote__option {
  display: flex;
}

.vote__duration {
  padding: 0.75em;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.selectors__wrapper {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.vote__button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote__button {
  width: 100%;
  color: red;
}

.vote__button:hover {
  background-color: rgba(255, 0, 0, 0.1);
}
