.post__video__settings__dropdown {
  width: 12rem;
}

.wrapper {
  width: 100%;
}

.header__wrapper {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
}

.header:hover {
  background-color: #f1f1f1;
}

.header:focus-visible {
  background-color: #f1f1f1;
}

.header__text {
  font-weight: bold;
}

.page {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  width: 100%;
}

.text__wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.title {
  font-weight: bold;
}

.value {
  color: #555;
}

.page:hover {
  background-color: #f1f1f1;
}
.page:focus-visible {
  background-color: #f1f1f1;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background-color: #f1f1f1;
}

.option:focus-visible {
  background-color: #f1f1f1;
}

.select {
  color: var(--colorTheme-color-primary);
}
