.profile__dropdown {
  padding: 1rem;
  width: 300px;
}

.image__section {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.image {
  cursor: pointer;
}

.info {
  margin-top: 0.5rem;
}

.username {
  font-weight: bold;
}

.userId {
  color: #777;
  cursor: pointer;
}

.bio {
  margin: 0.75rem 0;
}

.stats {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.emphasis {
  font-weight: bold;
}

.unit {
  color: #777;
}

.text__wrapper {
  position: relative;
}

.link:focus-visible {
  outline: none;
  text-decoration: underline;
}
