.screen__password {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.screen__password__header {
  margin: 20px 0;
}

.screen__password__body {
  flex: 1;
}

.password__field {
  width: 100%;
}

.password__field__input {
  width: 100%;
}

.password__field__error {
  padding: 0.25rem 0.5rem;
}

.screen__password__footer {
  margin: 12px 0;
}
