.modal__container {
  position: fixed; /* 뷰포트를 기준으로 고정 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  min-width: 300px;
  min-height: 200px;
  max-width: 700px;
  max-height: 90vh; /* 뷰포트 높이의 90%로 제한 */
  background-color: #fff;
  display: flex; /* 내부에 스크롤 생성을 위해서 */
  flex-direction: column; /* 내부 스크롤 생성을 위해서*/
}
