.cofollowers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-top: 0.75rem;
}

.cofollowers:hover .text {
  text-decoration: underline;
}

.avatars {
  position: relative;
}

.wrapper {
  position: absolute;
}

.avatar {
  border: 2px solid #fff;
}

.text {
  flex: 1;
  font-size: 0.8rem;
  color: #777;
}
