.post__comment__editor {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
}

.mention {
  display: flex;
}

.empty {
  width: 40px;
  height: 20px;
  margin-right: 0.5rem;
}

.container {
  display: flex;
}

.side {
  margin-right: 0.5rem;
}

.avatar {
  padding-top: 20px;
}

.main {
  flex: 1;
}

.editor__container {
  position: relative;
  padding-top: 0.25rem;
}

.input {
  position: relative;
  padding: 0.75rem 0;
  background-color: #fff;
  z-index: 1;
  transition-delay: 0.3s;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  transition: margin-top 0.3s ease-in-out;
}

.toolbar__wrapper {
  opacity: 1;
}

.btns__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.vertical__divider {
  border-left: 1px solid #aaa;
  width: 1px;
  height: 35px;
}
