.dropdown {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: var(--transition-primary);
  overflow: hidden;
  background-color: #fff;
}

.dropdown--open {
  max-height: 800px;
  opacity: 1;
}

.dropdown--close {
  max-height: 0px;
  opacity: 0;
}

.dropdown__list {
  overflow: auto;
}

.dropdown__item {
  padding: 8px;
}

/* 선택 클래스 */
.dropdown__item--selected {
  background-color: var(--colorTheme-color-primary);
  color: #fff;
}

.dropdown__item:hover {
  background-color: var(--colorTheme-color-primary);
  color: #fff;
}
