.emoji__tab {
  position: relative;
  cursor: pointer;
  border-bottom: 3px solid var(--colorTheme-color-primary);
  padding: 0.25rem;
  width: 2.25rem;
}

.emoji__tab:hover {
  background-color: var(--colorTheme-bgColor-hover-light);
  filter: grayscale(0%);
}

.emoji__tab:focus-visible {
  background-color: var(--colorTheme-bgColor-hover-light);
}

.selected {
  border-bottom: 3px solid var(--colorTheme-color-primary);
}

.unselected {
  border-bottom: 3px solid transparent;
  filter: grayscale(100%);
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
