:root,
html[data-colorTheme="cornflowerblue"] {
  --colorTheme-primary-color: cornflowerblue;
}

html[data-colorTheme="red"] {
  --colorTheme-primary-color: red;
}

html[data-colorTheme="green"] {
  --colorTheme-primary-color: green;
}

html[data-colorTheme="purple"] {
  --colorTheme-primary-color: purple;
}

html[data-colorTheme="orange"] {
  --colorTheme-primary-color: orange;
}

html[data-colorTheme="yellow"] {
  --colorTheme-primary-color: yellow;
}
