:root {
  --transition-primary: all 0.3s ease-in-out;
  --color-warning: red;
}

html {
  color: var(--bgTheme-color-primary);
  background-color: var(--bgTheme-bgColor-primary);
  font-size: var(--font-size-primary);
}
