:root {
  --transition-primary: all 0.3s ease-in-out;
  --color-warning: red;
  --outline-warning: 2px solid red;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-md: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
}

html {
  color: var(--bgTheme-color-primary);
  background-color: var(--bgTheme-bgColor-primary);
  font-size: var(--font-size-primary);
}

/* 스크롤을 생성해야 하는 요소에 사용 */
.scroll {
  overflow: auto; /* 높이가 줄어들면 내부 스크롤 생성 */
}
