:root {
  --transition-primary: all 0.3s ease-in-out;
  --color-warning: red;
  --outline-warning: 2px solid red;
}

html {
  color: var(--bgTheme-color-primary);
  background-color: var(--bgTheme-bgColor-primary);
  font-size: var(--font-size-primary);
}

/* 스크롤을 생성해야 하는 요소에 사용 */
.scroll {
  overflow: auto; /* 높이가 줄어들면 내부 스크롤 생성 */
}
