.profile__page {
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.icon__wrapper {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.icon {
  position: absolute;
  left: -0.5rem;
  top: 0.7rem;
}

.username__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cover__wrapper {
  width: 100%;
  height: 200px;
  background-color: rgb(207, 217, 222);
}

.profile__wrapper {
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__image__container {
  width: 8rem;
  height: 3.25rem;
  position: relative;
}

.profile__image__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 50%;
}

.button {
  padding: 0.25rem 1rem;
  font-weight: bold;
}

.userinfo__container {
  display: flex;
  align-content: start;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.userinfo__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.authorize__wrapper {
  opacity: 1;
}

.authorize__button {
  margin-top: 0.25rem;
  padding: 0 0.75rem;
}

.regiDate__wrapper {
  color: #555;
}

.meta__wrapper {
  display: flex;
  align-items: center;
}

.meta__unit {
  display: flex;
  align-items: center;
}

.tabs {
  display: flex;
}
