.input__password {
  opacity: 1;
}
.input__password__bottom__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input__password__bottom__icon {
  position: absolute;
  right: 0;
  transition: opacity 0.2s ease-in-out;
}

.input__password__bottom__icon--visible {
  opacity: 1;
}

.input__password__bottom__icon--invisible {
  opacity: 0;
}
