.post__originalpost {
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-top: 0.75rem;
}

.main {
  padding: 0 !important;
}

.upper {
  margin: 0.75rem 0.75rem 0;
}

.lower {
  margin: 0 0.75rem 0.75rem;
}

.text {
  margin-top: 0.25rem;
  font-size: 0.8rem;
}
