.personal__info__screen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 36rem;
}

.personal__info__screen__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.personal__info__screen__birth__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.personal__info__screen__birth {
  display: flex;
  gap: 0.5rem;
}

.personal__info__switch__button {
  display: flex;
  justify-content: right;
}
