.month__button {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid transparent;
}

.month__button:hover {
  border: 1px solid #000;
  background-color: var(--colorTheme-bgColor-hover-light);
}

.month__button--open {
  width: 59.5px;
  max-height: 34px;
  padding: 0.5rem 0;
  font-size: 1rem;
}

.month__button--closed {
  width: 59.5px;
  max-height: 0px;
  padding: 0;
  font-size: 0rem;
}

.month__button--selected {
  background-color: var(--colorTheme-color-primary);
  color: white;
  outline: 2px solid #000;
}

.month__button--selected:hover {
  background-color: var(--colorTheme-color-primary);
  color: white;
  outline: 2px solid #000;
}

.month__buttton--curMonth {
  border: 1px solid #000;
}
