.input {
  width: 100%;
}

.input__wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgTheme-bgColor-primary);
}

.input__wrapper--valid {
  outline: var(--colorTheme-outline-primary);
}
.input__wrapper--invalid {
  outline: var(--outline-warning);
}

.input__container {
  position: relative;
  flex: 1;
  height: 2.625rem;
  width: 100%;
}

.input__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: var(--transition-primary);
}

.input__header--focused {
  font-size: 0.75rem;
  height: 1.125rem;
  margin: 0;
}

.input__header--unfocused {
  font-size: inherit;
  padding: 9px 0;
  height: 100%;
}

.input__label--focused {
  color: var(--colorTheme-color-primary);
}

.input__label--unfocused {
  color: var(--bgTheme-color-primary);
}

.input__label--disabled {
  color: #ccc;
}

.input__counter {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75rem;
}

.input__counter--focused {
  opacity: 1;
}

.input__counter--unfocused {
  opacity: 1;
}

.input__body {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: var(--transition-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__body--focused {
  opacity: 1;
}

.input__body--unfocused {
  opacity: 0;
}

.input__body--disabled {
  color: #ccc;
}

.input__field {
  flex: 1;
  width: 100%;
  border: none;
}

.input__field--disabled {
  color: #aaa;
}

.input__error {
  padding-left: 8px;
}
