.toasts__container {
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
}

.toasts__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.toast__removed--top {
  animation-name: fade-out;
  animation-duration: 0.3s;
  --fade-direction: 100%;
}

.toast__removed--bottom {
  animation-name: fade-out;
  animation-duration: 0.3s;
  --fade-direction: -100%;
}

@keyframes fade-out {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(var(--fade-direction));
    opacity: 0;
  }
}
