.button {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  margin-bottom: 1px;
  font-weight: bold;
}

/* 색상 테마 */
.button--solid--colorTheme {
  background-color: var(--colorTheme-color-primary);
  color: #fff;
}

.button--solid--colorTheme:hover {
  background-color: var(--colorTheme-bgColor-hover);
}

.button--solid--colorTheme:focus-visible {
  background-color: var(--colorTheme-color-dark);
}

.button--subtle--colorTheme {
  background-color: var(--colorTheme-bgColor-light);
  color: var(--colorTheme-color-dark);
}

.button--subtle--colorTheme:hover {
  background-color: var(--colorTheme-color-light);
}

.button--subtle--colorTheme:focus-visible {
  background-color: var(--colorTheme-color-dark);
}

.button--surface--colorTheme {
  background-color: var(--colorTheme-bgColor-light);
  color: var(--colorTheme-color-dark);
  border: var(--colorTheme-border-light);
}

.button--surface--colorTheme:hover {
  background-color: var(--colorTheme-color-light);
}

.button--surface--colorTheme:focus-visible {
  background-color: var(--colorTheme-color-dark);
}

.button--outline--colorTheme {
  background-color: #fff;
  color: var(--colorTheme-color-dark);
  border: var(--colorTheme-border-light);
}

.button--outline--colorTheme:hover {
  background-color: var(--colorTheme-bgColor-light);
}

.button--outline--colorTheme:focus-visible {
  background-color: var(--colorTheme-bgColor-light);
}

.button--ghost--colorTheme {
  background-color: #fff;
  color: var(--colorTheme-color-dark);
}

.button--ghost--colorTheme:hover {
  background-color: var(--colorTheme-bgColor-light);
}

.button--ghoset--colorTheme:focus-visible {
  border: var(--colorTheme-border-light);
}

.button--plain--colorTheme {
  color: var(--colorTheme-color-dark);
  font-weight: normal;
}

.button--solid--colorTheme--invalid {
  background-color: var(--colorTheme-color-invalid);
  color: #fff;
}

.button--subtle--colorTheme--invalid {
  background-color: var(--colorTheme-color-invalid);
  color: #fff;
}

.button--surface--colorTheme--invalid {
  background-color: var(--colorTheme-color-invalid);
  color: #fff;
}

.button--outline--colorTheme--invalid {
  color: var(--colorTheme-color-invalid);
  border: 1px solid var(--colorTheme-color-invalid);
}

.button--ghost--colorTheme--invalid {
  color: var(--colorTheme-color-invalid);
}

.button--plain--colorTheme--invalid {
  color: var(--colorTheme-color-invalid);
}

/* 기본  */
.button--solid--default {
  background-color: #000;
  color: #fff;
}

.button--solid--default:hover {
  background-color: hsl(0, 0%, 10%);
}

.button--solid--default:focus-visible {
  background-color: #ddd;
}

.button--solid--default--invalid {
  background-color: hsl(0, 0%, 70%);
  color: #fff;
}

.button--subtle--default {
  background-color: #ddd;
  color: #000;
}

.button--subtle--default:hover {
  background-color: #ccc;
}

.button--subtle--default:focus-visible {
  background-color: #ccc;
}

.button--subtle--default--invalid {
  background-color: hsl(0, 0%, 70%);
  color: #fff;
}

.button--surface--default {
  background-color: #ddd;
  color: #000;
  border: 1px solid #ccc;
}

.button--surface--default:hover {
  background-color: #ccc;
}

.button--surface--default:focus-visible {
  background-color: #ccc;
}

.button--surface--default--invalid {
  background-color: hsl(0, 0%, 70%);
  color: #fff;
}

.button--outline--default {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

.button--outline--default:hover {
  background-color: #ddd;
}

.button--outline--default:focus-visible {
  background-color: #ddd;
}

.button--outline--default--invalid {
  color: hsl(0, 0%, 70%);
  border: 1px solid hsl(0, 0%, 70%);
}

.button--ghost--default {
  background-color: #fff;
  color: #000;
}

.button--ghost--default:hover {
  background-color: #ddd;
}

.button--ghost--default:focus-visible {
  background-color: #ddd;
}

.button--ghost--default--invalid {
  color: hsl(0, 0%, 70%);
}

.button--plain--default {
  color: #000;
  font-weight: normal;
}

.button--plain--default--invalid {
  color: hsl(0, 0%, 70%);
}

.button--valid {
  cursor: pointer;
}

.button__loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
