.button {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  user-select: none;
}

.button--plain {
  padding: 0;
}

.button--valid {
  cursor: pointer;
}

.button__loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
