.modal__pagination {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 1;
}

.modal__pagination__item {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 5px;
  height: 5px;

  transition: width 0.2s ease, height 0.2s ease;
}

.modal__pagination__item--movable {
  background-color: var(--colorTheme-color-primary);
  border: var(--colorTheme-border-primary);
}

.modal__pagination__item--movable:hover {
  outline: 1px solid black;
}

.modal__pagination__item--movable:focus-visible {
  outline: 1px solid black;
}

.modal__pagination__item--selected {
  width: 7px;
  height: 7px;

  transition: width 0.2s ease, height 0.2s ease;
}
