.modal__pagination {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 1;
}

.modal__pagination__item {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}

.modal__pagination__item--selected {
  background-color: var(--colorTheme-color-primary);
  border: var(--colorTheme-border-primary);
}
