.explore__page {
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.forward__container {
  position: relative;
  width: 41.6px;
  height: 41.6px;
}

.forward__icon {
  position: absolute;
  top: 4.2px;
  left: -8px;
}

.input__container {
  flex: 1;
}

.settings__container {
}

.tabs__wrapper {
  width: 100%;
}

.feed__wrapper {
  width: 100%;
}
