.schedule__unsent {
}

.schedule__unsent__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 50px;
}

.schedule__unsent__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 20px 0px 50px;
}

.schedule__unsent__tabs {
  width: 100%;
  display: flex;
  align-items: center;
}

.schedule__unsent__footer {
  padding: 15px 20px 15px 50px;
}
