.schedule__unsent {
}

.schedule__unsent__forward__icon {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.schedule__unsent__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 50px;
}

.schedule__unsent__body {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 0px 0px;
}

.schedule__unsent__tabs {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.schedule__unsent__footer {
  padding: 15px 20px 15px 50px;
}
