.verify__password {
  width: 100%;
}

.verify__password__text {
  border-bottom: 1px solid #eee;
}

.verify__password__item {
  padding: 0.75rem 1rem;
}

.verify__password__btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-bottom: 0.75rem;
}

.verify__password__btn {
  margin: 0 1rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
}
