.calendar__accordian {
}

.calendar__accordian__header {
  padding: 0.25rem;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.calendar__accordian__year {
  transition: max-height 0.1s ease-in-out;
}

.calendar__accordian__year--open {
  max-height: 102px;
}

.calendar__accordian__year--closed {
  max-height: 0px;
}

.calendar__month {
  display: flex;
}


