.lightbox__next__button__wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.lightbox__next__button {
  font-size: 23px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
