.account__item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.account__item__username {
  font-weight: bold;
}

.account__item__userid {
  font-size: 0.85rem;
  color: #666;
}

.account__item__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
