.post__meta {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.95rem;
}

.username__wrapper {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.username__wrapper:hover .username {
  text-decoration: underline;
}

.username__wrapper:hover .badge {
  text-decoration: none;
}

.username {
  font-weight: bold;
}

.badge {
  opacity: 1;
}

.rest__wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #777;
}

.userId {
  opacity: 1;
}
