.post__meta {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.95rem;
}

.username__wrapper {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.username__wrapper:hover .username {
  text-decoration: underline;
}

.username__wrapper:hover .badge {
  text-decoration: none;
}

.username {
  font-weight: bold;
}

.badge {
  opacity: 1;
}

.rest__wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #777;
}

.userId {
  opacity: 1;
}

.time {
  position: relative;
}

.time[data-title]::after {
  content: attr(data-title);
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 2px);
  padding: 3px;
  font-size: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--bgTheme-icon-color-primary);
  background: var(--bgTheme-icon-bgColor-primary);
  white-space: nowrap; /* 부모 너비보다 크게 */

  opacity: 0;
}

.time[data-title]:hover::after {
  opacity: 1;
  transition-delay: 0.1s;
}

.time:hover {
  text-decoration: underline;
}
