.input__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.input__bottom--focused {
  z-index: 1;
  opacity: 1;
}
.input__bottom--unfocused {
  z-index: -1;
  opacity: 0;
}
