.comment__button {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.comment__button--valid {
  cursor: pointer;
  background-color: hsl(0, 0%, 0%);
}

.comment__button--valid:hover,
.comment__button--valid:focus {
  background-color: hsl(0, 0%, 20%);
}

.comment__button--invalid {
  background-color: #888;
}
