.screen__verify__verification__code {
}

.screen__verify__verification__code__body {
}

.text__wrapper {
  margin: 1rem;
}

.input__wrapper {
  margin: 1rem;
}

.not__received {
  margin-left: 0.5rem;
}

.screen__verify__verification__code__footer {
}

.btn__wrapper {
}

.btn {
  width: 100%;
}
