.search__dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px -2px #ccc;
  overflow-x: hidden;
}

.no__keyword {
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}

.list {
}
