.cofollowings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.images {
  position: relative;
  min-width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.image__wrapper {
  position: absolute;
}

.image {
  border: 2px solid #fff;
}

.text {
  color: #555;
  font-size: 0.9rem;
}
